/* Global Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background-color: #f4f4f9;
  color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* HomePage */
.homepage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.homepage h1 {
  font-size: 3rem;
  color: #4EB7B5;
  margin-bottom: 20px;
}

/* LoginPage */
.login-page {
  width: 100%;
  max-width: 400px;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.login-page h1 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 2rem;
  color: #2A9B9D;
}

.login-page form {
  display: flex;
  flex-direction: column;
}

.login-page input {
  margin: 10px 0;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
}

.login-page button {
  padding: 12px;
  border: none;
  border-radius: 5px;
  background-color: #4EB7B5;
  color: white;
  font-size: 1rem;
  cursor: pointer;
  margin-top: 10px;
}

.login-page button:hover {
  background-color: #2A9B9D;
}
